.form {
  margin-top: 30px;
}

.label {
  display: block;
  margin-bottom: 3px;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--gray-50);
}

.textInput {
  background-color: white;
  line-height: 1.5em;
  border: 2px solid var(--accent-color-1-50);
  border-radius: 10px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 5px 10px;
}

.ingredientsText {
  font-size: 1.5em;
  font-weight: bold;
}

.ingredientsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add {
  width: 36px;
}

.addSvg {
  width: 100%;
}
